<!DOCTYPE html>
<html>
<head>
  <title>Meme Tube</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/script.js"></script>
</head>
<body><div class="vids">
  <%= yield %>
</div>
</body>
</html>