<!-- <h1>Create a new video</h1>

<form action="/videos" method="POST">
<input type="varchar" name="title" placeholder="title">
<input type="text" name="description" placeholder="description">
<input type="varchar" name="url" placeholder="url">
<input type="varchar" name="genre" placeholder="genre">
<button>Add New Video</button>
</form> -->